html, body{

	overflow: hidden;
}

html, body, section#overlay, #ytplayer{

	margin: 0;
    padding: 0;
	width: 100%;
    height: 100%;
}

a{
	color: #ffffff;
}

#logo{
	
	width: 286px;
}

a#libra-link{

	position: absolute;
	right: 40px;
	top: -4px;
	font-size: 18.5px;
}

span#libra-link__z-icon{

	position: relative;
	top: 7px;
	display: inline-block;
	width: 17px;
	height: 33px;
	background: url('../img/icons/zipp-icon.png') top left no-repeat;
	margin-left: 10px;
}

.overlays{

	position: absolute;
	left: 0;
	height: 75px;
	width: 100%;
	background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 25%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 25%,rgba(0,0,0,0.5) 75%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
	z-index: 2;
}

.overlays#overlay__top{

	position: relative;
	top: 0;
	text-align: center;
	padding-top: 20px;
}

.overlays#overlay__bottom{

	bottom: 0;
	padding: 19px 0 0 25px;
}

#texture-overlay{

	position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/dot-overlay.png) top left repeat;
	z-index: 1;
	pointer-events: none;
}

#ytplayer{

	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#seekslider{

	position: absolute;
	top: -1px;
	left: 0;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {

	position: relative;
	left: 0;
	top: 4px;
	height: 22px;
	width: 22px;
	background: #ffffff;
	cursor: pointer;
	margin-top: -14px;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {

	position: relative;
	top: 7px;
	height: 22px;
	width: 9px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {

	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ffffff;
}

input[type=range]:focus::-webkit-slider-runnable-track {

	background: #ffffff;
}

input[type=range]::-moz-range-track {

	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #ffffff;
}

#controls{

	/*width: 212px;*/
}

.controls__control{

	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 40px;
	margin-right: 16px;
	cursor: pointer;
	background-repeat: no-repeat;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.controls__control:last-child{

	margin-right: 0;
}

.controls__control.active{

	background-position: 0 -40px;
}

#controls__play_pause{

	/*background-image: url(../img/icons/controls/play-pause.png);*/
}

#controls__toggle_mute{

	/*background-image: url(../img/icons/controls/toggle-mute.png);*/
}

#controls__toggle_fs{

	/*background-image: url(../img/icons/controls/full-screen.png);*/
}

#controls__quality-container{

	position: relative;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

#controls__quality-container__display{

	position: absolute;
	top: 0;
	right: 0;
	width: 41px;
	height: 41px;
	background: url(../img/icons/controls/video-quality.png) top left no-repeat;
}

#controls__quality-container__display.active{

	background-image: url(../img/icons/controls/v-quality-close.png);
}

#controls__quality-container > .controls__control{

	height: 40px;
    width: 20px;
    margin: 0;
}

#controls__video_quality--left{
	
     border-right: transparent;
     border-radius: 20px 0 0 20px;
}

#controls__video_quality--centre{

	display: inline-block;
	vertical-align: top;
	width: 0px;
	height: 40px;
	border-top: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	-webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

#controls__video_quality--centre > ul{

	display: none;
	position: relative;
	top: 8px;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

#controls__video_quality--centre > ul > li{

	display: none;
	display: inline;
	color: #ffffff;
	margin-right: 8px;
	transition: all 0.2s ease-in;
}

#controls__video_quality--centre > ul > li:hover{

	-webkit-stroke-width: 4px;
	-webkit-stroke-color: #FFFFFF;
	-webkit-fill-color: #FFFFFF;
	text-shadow: 1px 0px 10px #FFFFFF;
}

#controls__video_quality--centre.active{

	width: 450px;
}

#controls__video_quality--right{
	
     border-left: transparent;
     border-radius: 0 20px 20px 0;
}