.overlays {
	position: absolute;
	left: 0;
	height: 62px;
	width: 100%;
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 15%, rgba(0,0,0,0.5) 45%, rgba(0,0,0,0.5) 55%, rgba(0,0,0,1) 85%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 15%,rgba(0,0,0,0.5) 45%,rgba(0,0,0,0.5) 55%,rgba(0,0,0,1) 85%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,1) 15%,rgba(0,0,0,0.5) 45%,rgba(0,0,0,0.5) 55%,rgba(0,0,0,1) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
	z-index: 3;
}

.overlays#overlay__top {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 14px;
  z-index: 999;
}

.overlays#overlay__bottom {
	bottom: 0;
	padding: 10px 0 0 25px;
  border-top: 2px solid #ffffff
}

#endframe-overlay-wrapper{

  display: none;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: block;
  background-color: #000000;

  #endframe-overlay {
  	display: none;
    width: 100%;
    height: 100%;
    background: url(../images/endframe/endframe-background.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/endframe/endframe-background.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/endframe/endframe-background.jpg', sizingMethod='scale')";
  }
}

#texture-overlay {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../images/dot-overlay.png) top left repeat;
	z-index: 1;
	pointer-events: none;
}

#mobile-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1001;
  display: none;
  background: url(../images/endframe-og.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/endframe-og.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/endframe-og.jpg', sizingMethod='scale')";
  &__inner {
    color: #fff;
    max-width: 600px;
    text-align: center;
    display: table-cell;
    vertical-align: top;
    letter-spacing: 5px;
    text-transform: uppercase;
    img {
      margin-top: 20px;
      margin-bottom: 25px;
      max-width: 400px;
    }
  }
  #mobile-overlay__upper {
    margin-bottom: 30px;
    p {
      margin-left: 3px; // correct misalign
    }
    img{
      margin: 40px 0;
    }
  }
  #mobile-overlay__lower {
    padding-bottom: 40px;
    button {
      display: block;
      padding: 20px 15px;
      background-color: #fff;
      border: none;
      color: black;
      border-radius: 45px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 25px auto;
      &:hover {
        color: $accent;
      }
    }
    a {
      display: block;
    }
  }
  img.mobile-image-libratone {
  }
  img.mobile-image-sigma {
    height: auto;
    width: 80%;
  }
}

#disabled-overlay {
  display: none;
  // display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../images/endframe/endframe-background-darkened.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/endframe/endframe-background-darkened.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/endframe/endframe-background-darkened.jpg', sizingMethod='scale')";
  z-index: 998;
  color: #fff;
  text-align: center;
  &__inner {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    h2, h3, p, a {
      color: inherit;
    }
    h2 {
      letter-spacing: 3px;;
    }
    h3 {
      letter-spacing: 2px;
    }
    p {
      font-size: 16px;
      letter-spacing: 1px;
    }
    img {
      margin: 20px 0;
    }
    img.warning {
      height: auto;
      width: 200px;
    }
    img.info {
      height: auto;
      width: 100px;
    }
    a {
      &:hover {
        color: $accent;
      }
    }
  }
  &__inner__message{

    &.active {
      display: none;
    }
  }
  &__modal {

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 980px;
    height: auto;
    margin-left: -490px;
    margin-top: -250px;
    background-color: #242424;
    padding: 60px;
    z-index: 10;
    line-height: 30px;
    border: 1px solid #ffffff;

    &.active {
      display: block;
    }

    .disabled-overlay__modal__close {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 18px;
      &:hover {
        cursor: pointer;
        color: $accent;
      }
    }
    h3 {
      margin: 25px;
    }
  }
}
