.overlays {
	position: absolute;
	left: 0;
	height: 62px;
	width: 100%;
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 15%, rgba(0,0,0,0.5) 45%, rgba(0,0,0,0.5) 55%, rgba(0,0,0,1) 85%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 15%,rgba(0,0,0,0.5) 45%,rgba(0,0,0,0.5) 55%,rgba(0,0,0,1) 85%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,1) 15%,rgba(0,0,0,0.5) 45%,rgba(0,0,0,0.5) 55%,rgba(0,0,0,1) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
	z-index: 3;
}

.overlays#overlay__top {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	padding-top: 14px;
  z-index: 999;
}

.overlays#overlay__bottom {
	bottom: 0;
	padding: 10px 0 0 25px;
  border-top: 2px solid #ffffff
}

#endframe-overlay-wrapper{

  display: none;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: block;
  background-color: #000000;

  #endframe-overlay {
  	display: none;
    width: 100%;
    height: 100%;
    background: url(../images/endframe-background.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  }
}

#texture-overlay {
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../images/dot-overlay.png) top left repeat;
	z-index: 1;
	pointer-events: none;
}

#mobile-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: 999;
  display: none;
}

#disabled-overlay {
  display: none;
  //display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../images/endframe-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 998;
  color: #fff;
  text-align: center;
  &__inner {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    h2, h3, p, a {
      color: inherit;
      text-shadow: 1px 1px 1px #242424;
    }
    h2 {
      letter-spacing: 3px;;
    }
    h3 {
      letter-spacing: 2px;
    }
    p {
      font-size: 16px;
      letter-spacing: 1px;
    }
    img {
      margin: 20px 0;
    }
    img.warning {
      height: auto;
      width: 200px;
    }
    img.info {
      height: auto;
      width: 100px;
    }
    a {
      &:hover {
        color: $accent;
      }
    }
  }
  &__modal {
    display: none;
    display: block;
    position: relative;
    background-color: rgba(36, 36, 36, 0.9);
    margin: 20px;
    padding: 40px;
    line-height: 30px;
    .disabled-overlay__modal__close {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 18px;
      &:hover {
        cursor: pointer;
        color: $accent;
      }
    }
    h3 {
      margin: 25px;
    }
  }
}
