.controls__standard {
  border-radius: 50%;
  &:hover {
    background-color: #242424;
  }
}

.controls__standard {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  cursor: pointer;
  //background-position: -3px -2px;
  border: 2px solid #ffffff;
  margin: {
    right: 12px;
    top: 5px;
  }
  svg {
    height: 100%;
    width: 100%;
    padding: 6px;
  }
}

.toggle {
  // default svg states
  .svg--active {
    display: none;
  }
  .svg--default {
    display: block;
  }
  // when class .active added to container, swap svgs
  &.active {
    .svg--active {
      display: block;
    }
    .svg--default {
      // show
      display: none;
    }
  }
}

#controls__standard--play-pause {
}

#controls__standard--toggle-mute {
}

#controls__standard--fs {
}

#controls__standard--fs.active {
}

.controls__expanding {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  &:hover {
    border-color: #242424;
  }
}

.controls__expanding > .controls__standard {
  height: 40px;
  width: 20px;
  margin: 0;
}

.controls__expanding__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 41px;
  height: 41px;
  background: url(../images/icons/control--resolutions-open.svg) top left no-repeat;
  z-index: 1;
}

#controls__expanding__icon.active {
  background-image: url(../images/icons/control--resolutions-close.svg);
}

#controls__expanding_left {
     border-right: transparent;
     border-radius: 20px 0 0 20px;
}

#controls__expanding_centre {
  display: inline-block;
  vertical-align: top;
  width: 0px;
  height: 40px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

#controls__expanding_centre > ul {
  display: none;
  position: relative;
  top: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 0;
}

#controls__expanding_centre > ul > li {
  display: none;
  display: inline;
  color: #ffffff;
  margin-right: 8px;
}

#controls__expanding_centre > ul > li:hover {
  color: #f44c02 !important;
}

#controls__expanding_right {
  border-left: transparent;
  border-radius: 0 20px 20px 0;
}

// volume slider
div.volume {
  display: inline-block;
  width: 120px;
  margin: {
    right: 12px;
    top: 7px;
  }
  input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background-color: $accent;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    top: 7px;
  }
}

// anims.scss

// ripple effect

.controls__control {
  position: relative;
  text-align: center;
/*  .icon {
    position: relative;
    top: 7px;
    z-index: 3;
    height: 20px;
    width: 20px;
  }*/
  .ripple {
    //opacity: 0.5;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    border-radius: 100%;
    height: 0%;
    width: 0%;
    background-color: #fff;
  }
}
