#endframe-overlay__controls {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  #endframe-overlay__controls__inner-vert {
    z-index: 3;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    #endframe-overlay__controls__inner-horiz {
      height: $overlay__controls__circle-diameter;
      margin-left: auto;
      margin-right: auto;
      width: $overlay__controls__inner-width;
      text-align: center;
      // ensure child elements are on top
      & * {
        z-index: 4;
      }
      .endframe-overlay__circle {
        text-align: center;
        position: relative;
        height: $overlay__controls__circle-diameter;
        width: $overlay__controls__circle-diameter;
        animation: opacity 1s ease-in;
        svg {
          position: absolute;
          top: 0;
          left: 0;
        }
        .svg-text {
          left: 50%;
          transform: translateX(-50%);
          top: 35%;
          height: 150px;
        }
        .svg-lines {
          left: 5%;
          top: 5%;
        }
        .endframe-overlay__circle__buttons {
          position: absolute;
          bottom: 28%;
          width: $overlay__controls__circle-diameter;
          left: 0;
          .endframe-overlay__circle__buttons--btn {
            height: $overlay__controls__circle--left__button-height;
            width: $overlay__controls__circle--left__button-height;
            display: inline-block;
            margin: 0 15px;
            perspective: inherit;
            img {
              transition: transform .5s;
              height: $overlay__controls__circle--left__button-height;
              width: $overlay__controls__circle--left__button-height;
            }
            &:hover img {
              transform: rotateY(360deg);
            }
          }
        }
      }
      #endframe-overlay__circle--left {
        float: left;
        .svg-outer {
          animation: spin-c 50s linear infinite;
        }
        .svg-lines {
          animation: spin-cc 20s linear infinite;
        }
      }
      #endframe-overlay__circle--right {
        float: right;
        .svg-outer {
          animation: spin-cc 50s linear infinite;
        }
        .svg-lines {
          animation: spin-c 20s linear infinite;
        }
        // make the zipp icon a bit bigger
        .endframe-overlay__circle__buttons {
          .endframe-overlay__circle__buttons--btn {
            height: 40px;
            width: 40px;
            img {
              height: 40px;
              width: 40px;
            }
          }
        }
      }
      #endframe-overlay__btn-replay {
        margin: 0;
        padding: 0;
        height: ($overlay__controls__circle-diameter / 5);
        width: ($overlay__controls__circle-diameter / 5);
        margin-top: ($overlay__controls__circle-diameter / 2.5);
        border: none;
        perspective: inherit;
        transition: transform .5s;
        background: {
          color: transparent;
          image: url('../images/icons/replay-360nostroke.svg');
          repeat: no-repeat;
          position: center center;
        }
        &:hover {
          cursor: pointer;
          transform: rotate(-90deg);
          
        }
        &:focus {
          outline-style: none;
        }
      }
    }
  }
}
