#endframe-overlay__controls {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  #endframe-overlay__controls__inner-vert {
    z-index: 3;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    #endframe-overlay__controls__inner-horiz {
      height: $overlay__controls__circle-diameter;
      margin-left: auto;
      margin-right: auto;
      width: $overlay__controls__inner-width;
      text-align: center;
      // ensure child elements are on top
      & * {
        z-index: 4;
      }
      .endframe-overlay__circle {
        text-align: center;
        position: relative;
        height: $overlay__controls__circle-diameter;
        width: $overlay__controls__circle-diameter;
        animation: opacity 1s ease-in;
        .endframe-overlay__circle__innerbox {
          width: 100%;
          height: 100%;
          padding: 4%;
          img {
            position: inherit;
            width: 100%;
            height: 100%;
          }
        }
        img, .endframe-overlay__circle__text {
          position: absolute;
          top: 0;
          left: 0;
        }
        .endframe-overlay__circle__text {
          transition: all 0.4s ease-in-out;
          width: 100%;
          height: auto;
          padding: 33% 10%;
          margin: 0 auto;
          display: block;
          text-align: center;
          & h2, p {
            color: #fff;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            position: relative;
            z-index: 5;
          }
          h2 {
            font-weight: bold;
            letter-spacing: 12px;
          }
          p {
            letter-spacing: 6px;
          }
        }
        .svg-inner {
          left: 17%;
          top: 4%;
          width: 65%;
          height: auto;
        }
        .endframe-overlay__circle__buttons {
          position: absolute;
          bottom: 28%;
          width: $overlay__controls__circle-diameter;
          left: 0;
          // white separating border
          &:before {
            content: "";
            border-top: 2px solid #efefef;
            width: 12%;
            display: block;
            margin: {
              left: auto;
              right: auto;
              bottom: 25px;
            }
          }
          .endframe-overlay__circle__buttons--btn {
            height: $overlay__controls__circle--left__button-height;
            width: $overlay__controls__circle--left__button-height;
            display: inline-block;
            margin: 0 15px;
            perspective: inherit;
            img {
              position: inherit;
              transition: transform .5s;
              height: $overlay__controls__circle--left__button-height;
              width: $overlay__controls__circle--left__button-height;
            }
            &:hover img {
              transform: rotateY(360deg);
            }
          }
        }
      }
      #endframe-overlay__circle--left {
        float: left;
        .svg-outer {
          animation: spin-c 50s linear infinite;
        }
        .svg-inner {
          animation: spin-cc 20s linear infinite;
        }
      }
      #endframe-overlay__circle--right {
        float: right;
        .svg-outer {
          animation: spin-cc 50s linear infinite;
        }
        .svg-inner {
          animation: spin-c 20s linear infinite;
        }
        // make the zipp icon a bit bigger
        .endframe-overlay__circle__buttons {
          .endframe-overlay__circle__buttons--btn {
            height: 40px;
            width: 40px;
            img {
              height: 40px;
              width: 40px;
            }
          }
        }
        .circ-default {
          opacity: 1;
        }
        .circ-active {
          //display: none;
          opacity: 0;
          top: -20px;
          .activetext {
            position: relative;
            top: 40px;
            h2, p {
              font-weight: normal;
              font-size: 15px;
              letter-spacing: 3px;
              
            }
          }
          img {
            position: relative;
            z-index: 0;
            height: 285px;
            top: -120px;
          }
        }
        &:hover {
          .circ-default {
            //display: none;
            opacity: 0;
            top: -20px;
          }
          .circ-active {
            //display: block;
            opacity: 1;
            top: 0px;
          } 
        }
      }
      #endframe-overlay__btn-replay {
        margin: 0;
        padding: 0;
        height: ($overlay__controls__circle-diameter / 5);
        width: ($overlay__controls__circle-diameter / 5);
        margin-top: ($overlay__controls__circle-diameter / 2.5);
        border: none;
        perspective: inherit;
        transition: transform .5s;
        background: {
          color: transparent;
          image: url('../images/icons/button--replay.svg');
          repeat: no-repeat;
          position: center center;
        }
        &:hover {
          cursor: pointer;
          transform: rotate(-90deg);

        }
        &:focus {
          outline-style: none;
        }
      }
    }
  }
}
