#endframe-overlay__controls {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  #endframe-overlay__controls__inner-vert {
    z-index: 3;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    #endframe-overlay__controls__inner-horiz {
      height: $overlay__controls__circle-diameter;
      margin-left: auto;
      margin-right: auto;
      width: $overlay__controls__inner-width;
      text-align: center;
      // ensure child elements are on top
      & * {
        z-index: 4;
      }
      .endframe-overlay__circle {
        height: $overlay__controls__circle-diameter;
        width: $overlay__controls__circle-diameter;
      }
      #endframe-overlay__circle--left {
        position: relative;
        float: left;
        // animation: spin-c 24s infinite linear;
        #endframe-overlay__circle--left__buttons {
          position: absolute;
          bottom: 28%;
          width: $overlay__controls__circle-diameter;
          left: 0;
          .endframe-overlay__circle--left__buttons--btn {
            height: $overlay__controls__circle--left__button-height;
            width: $overlay__controls__circle--left__button-height;
            display: inline-block;
            margin: 0 15px;
            img {
              height: $overlay__controls__circle--left__button-height;
              width: $overlay__controls__circle--left__button-height;
            }
          }
        }
      }
      #endframe-overlay__circle--right {
        float: right;
        // animation: spin-cc 24s infinite linear;
      }
      #endframe-overlay__btn-replay {
        margin: 0;
        padding: 0;
        height: ($overlay__controls__circle-diameter / 4);
        width: ($overlay__controls__circle-diameter / 4);
        margin-top: ($overlay__controls__circle-diameter / 2.75);
        border: none;
        perspective: inherit;
        transition: transform .5s;
        background: {
          color: transparent;
          image: url('../images/icons/replay.svg');
          repeat: no-repeat;
          position: center center;
        }
        &:hover {
          cursor: pointer;
          // uncomment for transition example - not centered or something tho
          transform: rotate(-90deg);
        }
        &:focus {
          outline-style: none;
        }
      }
    }
  }
}
