a#libra-link {
	position: absolute;
	right: 39px;
	top: -4px;
	font-size: 18.5px;
  perspective: inherit;
  &:hover span#libra-link__z-icon {
    transform: rotateY(360deg);
  }
  img.libra-slogan {
    // line up the new png version w/ svg
    margin-top: 19px;
  }
}

span#libra-link__z-icon {
  transition: transform .5s;
	position: relative;
	top: 7px;
	display: inline-block;
	width: 14px;
	height: 29px;
	margin-left: 19px;
}
