a#libra-link {
	position: absolute;
	right: 40px;
	top: -4px;
	font-size: 18.5px;
}

span#libra-link__z-icon {
	position: relative;
	top: 7px;
	display: inline-block;
	width: 17px;
	height: 33px;
	background: url('../img/icons/zipp-icon.png') top left no-repeat;
	margin-left: 10px;
}