 #logo {
   width: 320px;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   span {
     height: auto;
     display: inline-block;
     margin: 0;
     padding: 0;
     float: left;
     overflow: hidden;
     vertical-align: bottom;
     position: relative;
   }
   span.sigma {
     top: 1px;
     width: 40%;
     //border: 1px solid red;
   }
   span.x {
     margin-top: 10px;
     width: 20%;
     //border: 1px solid white;
   }
   span.libratone {
     width: 40%;
     top: -5px;
   }
   svg {
     transition: all 0.15s ease-in;
     padding-bottom: 2px;
     &:hover {
       // turnin this off for now
      //  box-shadow: 5px 5px 30px $accent;
     }
   }
 }
