// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$accent: #00e2ea;

$overlay__controls__circle-diameter: 350px;
$overlay__controls__inner-width: 80%;
$overlay__controls__circle--left__button-height: 30px;